body{
    background-color: rgb(190, 190, 190);
    font-family: 'Lobster', cursive;
    height: fit-content;
    min-width: 900px;
}

#ready{
    display: block;
    margin: 100px auto;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    padding: 10px 20px 10px 20px;
    color: rgb(11, 60, 134);
    text-shadow: 2px 2px 2px #f8f4f4;
    text-shadow: 2px -2px 2px #e9e0e0;
    text-shadow: -2px -2px 2px #ebe8e8;
    text-shadow: -2px 2px 2px #eceaea;
}

.menu-button-contianer{
    min-width: 800px;
}

#macro-container{
    display: none;
    width: 100%;
    min-width: 800px;
}

#info-container{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px auto 0 auto;
    
}

#logo{
    width: 800px;
    font-size: 80px;
    display: block;
    text-align: center;
    color: rgb(11, 60, 134);
    text-shadow: 2px 2px 2px #f8f4f4;
    text-shadow: 2px -2px 2px #e9e0e0;
    text-shadow: -2px -2px 2px #ebe8e8;
    text-shadow: -2px 2px 2px #eceaea;
}

.scoreboard{
    margin-top: 40px;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgb(11, 60, 134);
    text-shadow: 2px -2px 2px rgb(11, 60, 134);
    text-shadow: -2px -2px 2px rgb(11, 60, 134);
    text-shadow: -2px 2px 2px rgb(11, 60, 134);
    justify-content: space-between;
    border-bottom: solid 2px black;
    border-radius: 5%;
    padding: 0px 30px 10px 20px;
}

span{
    color: rgb(11, 60, 134);
    text-shadow: 2px 2px 2px #f8f4f4;
    text-shadow: 2px -2px 2px #e9e0e0;
    text-shadow: -2px -2px 2px #ebe8e8;
    text-shadow: -2px 2px 2px #eceaea;
}

.player-move{
    font-size: 30px;
    text-shadow: 2px 2px 2px rgb(190, 190, 190);
    text-shadow: 2px -2px 2px rgb(190, 190, 190);
    text-shadow: -2px -2px 2px rgb(190, 190, 190);
    text-shadow: -2px 2px 2px rgb(190, 190, 190);
}

.name-inputs{
    margin: 50px 0px 10px 0px;
}

form{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.input-field{
    font-size: 20px;
    font-family: 'Lobster', cursive;
    color: black;
}

::placeholder {
    color: rgb(209, 206, 201);
    opacity: 1  ; 
  }


#board-container{
    width: 426px;
    height: 426px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    background: rgb(10, 10, 240);
    margin: 40px auto 0 auto;
    font-family: 'Balsamiq Sans', cursive;
    
}

.game-tile{
    height: 140px;
    width: 140px;
    background-color: rgb(190, 190, 190);
    font-size: 120px;
    text-align: center;
}

.game-tile:hover{
    background-color: rgb(179, 175, 175);
}

#tile-1, #tile-2, #tile-3{
    border-bottom: solid 3px rgb(91, 91, 97);
}

#tile-4, #tile-5, #tile-6{
    border-bottom: solid 3px rgb(91, 91, 97);
}

#tile-1, #tile-4, #tile-7{
    border-right: solid 3px rgb(91, 91, 97);
}

#tile-2, #tile-5, #tile-8{
    border-right: solid 3px rgb(91, 91, 97);
}

.o-value{
    color: white;
    text-shadow: 2px 2px 2px rgb(11, 60, 134);
    text-shadow: 2px -2px 2px rgb(11, 60, 134);
    text-shadow: -2px -2px 2px rgb(11, 60, 134);
    text-shadow: -2px 2px 2px rgb(11, 60, 134); 
}

.x-value{
    color: rgb(11, 60, 134);
    text-shadow: 2px 2px 2px #f8f4f4;
    text-shadow: 2px -2px 2px #e9e0e0;
    text-shadow: -2px -2px 2px #ebe8e8;
    text-shadow: -2px 2px 2px #eceaea;
}

#game-button-container{
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

.game-buttons{
    margin: 0px 40px 0px 40px;
    display: inline-block;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    padding: 0px 20px 0px 20px;
    color: rgb(11, 60, 134);
    text-shadow: 2px 2px 2px #f8f4f4;
    text-shadow: 2px -2px 2px #e9e0e0;
    text-shadow: -2px -2px 2px #ebe8e8;
    text-shadow: -2px 2px 2px #eceaea;
} 


#winner-alert-container{
    width: 350px;
    height: 190px;
    margin: 90px auto 0 auto;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    border: 1px solid black;
    background-color: rgb(139, 145, 145);
}

.winner-message{
    font-size: 40px;
}

#winner-alert-symbol-x{
    text-align: center;
    width: 400px;
    margin: 10px 0px 10px 0px;
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(11, 60, 134);
    text-shadow: 2px 2px 2px #f8f4f4;
    text-shadow: 2px -2px 2px #e9e0e0;
    text-shadow: -2px -2px 2px #ebe8e8;
    text-shadow: -2px 2px 2px #eceaea;
}

#winner-alert-symbol-o{
    text-align: center;
    width: 400px;
    margin: 10px 0px 0px 0px;
    font-family: 'Balsamiq Sans', cursive;
    color: white;
    text-shadow: 2px 2px 2px rgb(11, 60, 134);
    text-shadow: 2px -2px 2px rgb(11, 60, 134);
    text-shadow: -2px -2px 2px rgb(11, 60, 134);
    text-shadow: -2px 2px 2px rgb(11, 60, 134); 
}

#winner-alert-message{
    text-align: center;
    width: 400px;
    margin: 0px 0px 10px 0px;  
}

#winner-alert-close{
    margin: 10px 0px 10px 0px;
    width: 100px;
    font-size: 20px;
    font-family: 'Balsamiq Sans', cursive;
    color: white;
    background-color: rgb(133, 20, 20);
    border: none;
}

.signature-container{
    margin-top: 100px;
    width: 100%;
}

a{
    font-family: 'Merriweather', serif;
}